{% extends "_base.html" %}

{% block content %}

<div class="row">

  <div class="col-md-6 rounded">
    <h2>Content Image</h2>
    <br>

    <div class="row">
        <div class="user_image" style="height: 170px; width: 170px; border: 3px solid blue ; position: relative;display: inline-block;overflow: hidden;margin: 0; padding: 0px">
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6">

        <p><img src="https://firebasestorage.googleapis.com/v0/b/style-app-3fe4c.appspot.com/o/content_1.jpg?alt=media&token=f64b87b5-1107-4ae5-9ff3-111bc1226032" style="height: 200px; width: 200px" class="content"></p>
        <p><img src="https://firebasestorage.googleapis.com/v0/b/style-app-3fe4c.appspot.com/o/content_2.png?alt=media&token=4f498844-2d48-4092-bf70-3f7c0806a4e8" style="height: 200px; width:200px" class="content"></p>
      </div>
      <div class="col-md-6">

        <p><img src="https://firebasestorage.googleapis.com/v0/b/style-app-3fe4c.appspot.com/o/content_3.jpg?alt=media&token=a3391bee-f6aa-4359-bb40-d0beee2997ff" style="height: 200px; width:200px" class="content"></p>
        <p><img src="https://firebasestorage.googleapis.com/v0/b/style-app-3fe4c.appspot.com/o/content_4.jpg?alt=media&token=d3ecb66b-f849-4ef3-9761-9247b14a5ac9" style="height: 200px; width:200px" class="content"></p>
      </div>
    </div>

    <div class="row">
            <form id="upload-file" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*">
                <button id="upload-file-btn" type="button">Upload</button>
              </form>
    </div>
  </div>

  <div class="col-md-3 ">
    <h2>Style Image</h2>
    <div class="row" style="padding-top: 73px;">
      <div class="col-md-6">
        <p><img src = "../static/style_img/dora.jpeg" style="height:170px ;width:170px " class="style"></p>
        <p><img src = "../static/style_img/rain.jpeg" style="height:170px ;width:170px " class="style"></p>
        <p><img src = "../static/style_img/star.jpeg" style="height:170px ;width:170px " class="style"></p>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <h2>Result</h2>
    <div class="result" style="height: 200px; width: 200px; border: 3px solid blue ; position: relative;display: inline-block;overflow: hidden;margin: 0;">
    </div>
  </div>

</div>

<br>

{% endblock %}
